In [5]:
rinkinys = { "Jonas", 1981, False }

print(type(rinkinys))

<class 'set'>

In [ ]:
vartotojas1 = { "Jonas", "Jonaitis", 1981 }
vartotojas2 = { "Jonas", "Jonaitis", "jonas.jonaitis@gmail.com" }

# Rinkiniu sujungimas i viena:
print(vartotojas1.union(vartotojas2))

{'Jonas', 'Jonaitis', 'jonas.jonaitis@gmail.com', 1981}

In [9]:
vartotojas1 = [ "Jonas", "Jonaitis", 1981]
vartotojas2 = [ "Jonas", "Jonaitis", "jonas.jonaitis@gmail.com" ]

vartotojas = vartotojas1 + vartotojas2

rezultatas = []

for data in vartotojas :
    if not data in rezultatas :
        rezultatas.append(data)

print(rezultatas)

['Jonas', 'Jonaitis', 1981, 'jonas.jonaitis@gmail.com']

In [ ]:
# Rinkiniuose nebūna dublikatų

informacija = { "Jonas", "Jonaitis", "Jonas" }

print(informacija)

{'Jonas', 'Jonaitis'}

In [27]:
sarasas = [ "Jonas", "Jonaitis", 1981 ]

# Funkcija set() konvertuoja sarasa arba eilute i rinkini
vartotojas1 = set(sarasas)
vartotojas2 = { "Jonas", "Jonaitis", "jonas.jonaitis@gmail.com" }

# Rinkiniu sujungimas i viena:
print(vartotojas1.union(vartotojas2))

print(vartotojas1 & vartotojas2)

{'Jonas', 'Jonaitis', 'jonas.jonaitis@gmail.com', 1981}
{'Jonas', 'Jonaitis'}

In [ ]:
# Rinkinių palyginimas (Grąžinamos reikšmės kurios skiriasi rinkiniuose)
vartotojas1 = { "Jonas", "Jonaitis", 1981 }
vartotojas2 = { "Jonas", "Jonaitis", "jonas.jonaitis@gmail.com" }

print(vartotojas1.difference(vartotojas2))

print(vartotojas1 - vartotojas2)

{1981}

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [23]:
# Rinkinių palyginimas (Grąžinamos reikšmės kurios skiriasi rinkiniuose)
# Jeigu naudojamės rinkinių metais, šie konvertuoja perduotą reikšmę į rinkinį

vartotojas1 = { "Jonas", "Jonaitis", 1981 }
vartotojas2 = [ "Jonas", "Jonaitis", "jonas.jonaitis@gmail.com" ]

print(vartotojas1.difference(vartotojas2))

# Naudojant operatorių gausime klaida:
print(vartotojas1 - vartotojas2)

{1981}

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [25]:
# Rinkinių palyginimas iš kito vartotojo perspektyvos:

vartotojas1 = { "Jonas", "Jonaitis", 1981 }
vartotojas2 = { "Jonas", "Jonaitis", "jonas.jonaitis@gmail.com" }

print(vartotojas2.difference(vartotojas1))

print(vartotojas1 | vartotojas2)

{'jonas.jonaitis@gmail.com'}
{'Jonas', 'Jonaitis', 'jonas.jonaitis@gmail.com', 1981}

In [ ]:
# Grąžinamos abiejose rinkiniuose esančios reikšmės:

vartotojas1 = { "Jonas", "Jonaitis", 1981 }
vartotojas2 = { "Jonas", "Jonaitis" }

print(vartotojas1.intersection(vartotojas2))

print(vartotojas1 & vartotojas2)

{'Jonas', 'Jonaitis'}

In [ ]:
# Grąžinamos reikšmės kurios skiriasi abiejuose rinkiniuose

vartotojas1 = { "Jonas", "Jonaitis", 1981, True }
vartotojas2 = { "Jonas", "Jonaitis", "jonas.jonaitis@gmail.com" }

print(vartotojas1.symmetric_difference(vartotojas2))

print(vartotojas1 ^ vartotojas2)

{True, 'jonas.jonaitis@gmail.com', 1981}

In [ ]:
vartotojas1 = { "Jonas", "Jonaitis", 1981 }
vartotojas2 = { "Jonas", "Jonaitis" }

# Originalaus atnaujinimas
vartotojas1.intersection_update(vartotojas2)

print(vartotojas1)

{'Jonas', 'Jonaitis'}

In [29]:
pirmas = { "A", "B" }
antras = ["Jonas", "Petras"]

pirmas.union(antras)

{'A', 'B', 'Jonas', 'Petras'}