In [ ]:
sarasas = ["Vardenis", "Pavarde", 1981, False]
eilute = ("Vardenis", "Pavardenis", 1981, False)

print(type(sarasas))
print(type(eilute))

sarasas[0] = "Jonas"

print(sarasas)

# Gauname klaida, nes eilutės nėra modifikuojamos
eilute[0] = "Petras"

print(eilute)

<class 'list'>
<class 'tuple'>
['Jonas', 'Pavarde', 1981, False]

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Norint sukeisti skaičius vietomis:
skaicius1 = 15
skaicius2 = 22

laikinas = skaicius1

skaicius1 = skaicius2
skaicius2 = laikinas

print(skaicius1, skaicius2)

22 15

NameError: name 'listas' is not defined

In [ ]:
eilute = ("Vardenis", "Pavardenis", 1981, False)

# Duomenų paėmimas iš eilutės
print(eilute[0])
print(eilute[1])

Vardenis
Pavardenis

TypeError: 'tuple' object does not support item assignment

In [ ]:
sarasas = ["Vardenis", "Pavarde", 1981, False]

# Saraso konvertavimas į eilutę

print(tuple(sarasas))

('Vardenis', 'Pavarde', 1981, False)

In [12]:
eilute = ("Vardenis", "Pavarde", 1981, False)

# Saraso konvertavimas į eilutę

print(list(eilute))

['Vardenis', 'Pavarde', 1981, False]